@model Blogify.Web.Areas.Blog.Pages.ArchiveModel
<header class="pb-8">
    <p class="text-sm font-extrabold text-brand">@Localizer["Blog.Archives"]</p>
    <h1 class="mt-2 font-serif text-4xl leading-tight md:text-5xl">@Localizer["Blog.ArchiveHeading", Model.MonthStart.ToString("MMMM yyyy")]</h1>
</header>
@if (Model.Posts.Count == 0)
{
    <div class="border-y border-line py-20 text-center text-lg text-muted"><p>@Localizer["Blog.NoPosts"]</p></div>
}
else
{
    <partial name="/Areas/Blog/Themes/Default/_PostGrid.cshtml" model="Model.Posts" />
    await Html.RenderPartialAsync("_Pagination", Model.Pagination);
}
