@model Blogify.Web.Areas.Blog.Pages.CategoryModel
<header class="py-8">
    <p class="text-sm font-black text-[#4b57a8]">@Localizer["Blog.Categories"]</p>
    <h1 class="mt-2 text-5xl font-black leading-none tracking-[-0.035em] md:text-7xl">@Localizer["Blog.CategoryHeading", Model.CategoryName]</h1>
</header>
@if (Model.Posts.Count == 0)
{
    <div class="bg-[#10162f] px-5 py-20 text-center text-lg font-bold text-white">@Localizer["Blog.NoCategoryPosts"]</div>
}
else
{
    <partial name="/Areas/Blog/Themes/Aurora/_PostGrid.cshtml" model="Model.Posts" />
    await Html.RenderPartialAsync("_Pagination", Model.Pagination);
}
