@page
@model Blogify.Web.Pages.GetStarted.CompleteModel
@{
    Layout = "_LandingLayout";
}
<div class="container py-5 text-center">
    <p class="text-muted">@Localizer["Action.Redirecting"]</p>
</div>
