@model Blogify.Web.Areas.Blog.Pages.IndexModel
<header class="mb-12">
    <h1 class="font-serif text-5xl leading-tight tracking-[-0.025em] md:text-7xl">@Model.BlogTitle</h1>
</header>
@if (Model.Posts.Count == 0)
{
    <div class="py-16 text-[#686863]">@Localizer["Blog.NoPosts"]</div>
}
else
{
    <partial name="/Areas/Blog/Themes/Minimal/_PostList.cshtml" model="Model.Posts" />
    await Html.RenderPartialAsync("_Pagination", Model.Pagination);
}
